# MySql, Django
MYSQL_HOST=mysql
MYSQL_USER=equser
MYSQL_PASSWORD=secret
MYSQL_DATABASE=db_equipment
MYSQL_ROOT_PASSWORD=root_secret

DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@localhost
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=django-insecure
DRF_PAGE_SIZE=100
